<nav class="navbar navbar-expand-lg navbar-light bg-light nav">
  <a class="navbar-brand" href="/"><img class="logo" src="/img/logo2.png" alt=""></a>
  <div class="nav-direita">
    <div class="score">
        <img src="" alt="" class="img-score">
        <p class="p-score"></p>
    </div>
    <% if (user) { %>
      <a href="/logout" class="login">Logout</a>
    <% } else { %>
      <a href="/login" class="login">Login</a>
      <a href="/cadastrar">Register</a>
    <% } %>
  </div>
</nav>