<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container">

        <div class="card formulario-cadastro" id="formulario-cadastro">
            <div class="car-header">
                <h3 class="title">Cadastro</h3>
            </div>
            <div class="card-body">
                <hr>
                <form action="/salvarcadastro" method="POST">
                    <label for="">Usuario</label>
                    <input name="usuario" type="text" placeholder="Usuario" class="form-control">
                    <br>
                    <label for="">Senha</label>
                    <input name="senha" type="password" placeholder="Senha" class="form-control">
                    <br>
                    <label for="">Repetir Senha</label>
                    <input name="confirmacaoSenha" type="password" placeholder="Senha" class="form-control">
                    
                    
                    <br>
                    <button class="btn btn-success">Cadastrar</button>
                </form>
            </div>
        </div>
        <div class="resposta">
            <% if (msgErro) { %>
                <p class="msgErro"><%= msgErro %></p>
            <% } %>
        </div>
    </div>

</body>
<%- include ('partials/footer.ejs') %>