<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container formulario-cadastro">
        <h1 class="text-center">Welcome to the system</h1>
        <p class="text-center">You are logged in</p>

</body>
<%- include ('partials/footer.ejs') %>