<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Inscritos</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Email</th>
        </tr>
        <tr>
            <td><%= nome %></td>
            <td>18</td>
            <td>arthur@arthur</td>
        </tr>
        <tr>
            <td><%= nome2 %></td>
            <td>26</td>
            <td>marco@marco</td>
        </tr>
    </table>
</body>
</html>